/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

html, body {
  margin: 0;
  padding: 0;
  background: #2AB9DD;
  color: blue;
  font-family: Arial, Verdana, sans-serif;
  font-size: 10pt;
}

#login {
  display:block;
  float:right;
  color : yellow;
  margin-top:1em;
  margin-right:1em;
}

#registro {
  display:block;
  float:right;
  color:yellow;
  margin-right:1em;
}
#logo{
  display: block;
  margin-left:300px;
  margin-top: 100px;
}

.cabecera{
  width:100%;
  height: 13em;
  background-color:red;
  border:2px solid black;
}
.cabecera p{
  width: 25%;
  float:left;
  font-family:Verdana;
  font-size: 5em;
  margin-left:3em;
}
.cabecera .icono{
  width:25%;
  float:left;
  margin-left:1em;
}
#reg{
  clear:both;
  
}
#reg p{
  width:100%;
  background-color:orange;
}

#formulario{
  margin-top:3em;
}

.cabecera #usuario p{
  width:10%;
  height: 2em;
  font-size:1em;
  background-color:white;
  float:right;
  border:2px solid black;
}

table#files {
  clear:both;
  margin: 10px;
  border-collapse: collapse;
  width: 100%;
  border-bottom: 2px solid black;
}
table#files th {
  border: 2px solid white;
  font-weight: bold;
  background-color: wheat;
  padding: 4px;
  text-align:left;
}

table#files td:hover{
  padding: 4px;
  text-align: left;
  background:yellow;
}

#notice, #warning {
  clear:both;
  background: yellow;
  padding: 4px;
}
#imagen{
  clear:both;
}


  
